{% load static %}
<!DOCTYPE html>
<html lang="kk">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}Pixie{% endblock %}</title>

  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/tooplate-main.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">

  {% block css %}{% endblock %}
</head>

<body>


<!-- Pre-header -->
<div id="pre-header" class="py-2" style="background-color:#007BFF; color:white;">
  <div class="container text-right">
    {% if user.is_authenticated %}
      <a href="{% url 'auth:edit' %}" class="btn btn-light btn-sm" style="color:#007BFF; background-color:white;">{{ user.username|title }}</a>
      <a href="{% url 'auth:logout' %}" class="btn btn-light btn-sm mx-2" style="color:#007BFF; background-color:white;">Шығу</a>
    {% else %}
      <a href="{% url 'auth:login' %}" class="btn btn-light btn-sm" style="color:#007BFF; background-color:white;">Кіру</a>
    {% endif %}
  </div>
</div>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'mainapp:index' %}">
      <img src="{% static 'assets/images/header-logo.png' %}" alt="Логотип">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'mainapp:index' %}">Басты бет</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'mainapp:products' %}">Өнімдер</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'mainapp:about' %}">Біз туралы</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'mainapp:contacts' %}">Хабарласу</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Контент -->
{% block content %}{% endblock %}

<footer class="footer mt-5 bg-dark text-white pt-4">
  <div class="container text-center">
    <img src="{% static 'assets/images/header-logo.png' %}" alt="Logo" class="mb-3">
    <ul class="footer-menu list-inline">
      <li class="list-inline-item"><a href="#" class="text-white">Басты бет</a></li>
      <li class="list-inline-item"><a href="#" class="text-white">Көмек</a></li>
      <li class="list-inline-item"><a href="#" class="text-white">Құпиялық саясаты</a></li>
    </ul>
    <ul class="social-icons list-inline mt-2">
      <li class="list-inline-item"><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
    </ul>
  </div>
</footer>

<div class="sub-footer text-center py-2" style="background-color: #007BFF; color: white;">
  <div class="container">
    <p>&copy; {% now "Y" %} Pixie. Барлық құқықтар қорғалған.</p>
  </div>
</div>



<!-- JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
