{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container mt-5">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Өнім</th>
          <th scope="col">Саны</th>
          <th scope="col">Бағасы</th>
          <th scope="col">Әрекет</th>
        </tr>
      </thead>
      <tbody>
        {% for item in basket %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ item.product.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.product.price }} тг</td>
          <td>
            <a href="{% url 'basket:remove' item.id %}" class="btn btn-danger btn-sm">Өшіру</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if basket %}
    <div class="basket_summary mt-3">
      Себетте: <strong>{{ basket.0.total_quantity }} өнім</strong><br>
      Жалпы құны: <strong>{{ basket.0.total_cost|floatformat:0 }} тг</strong>
    </div>
    {% endif %}
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <p>Сіз кірмегенсіз. Алдымен <a href="{% url 'auth:login' %}">кіруіңіз</a> қажет.</p>
  </div>
</div>
{% endif %}
{% endblock %}
